# Dashride Data Exploration

## 1. Data Extraction and cleansing

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import timeit

In [6]:
# load dataset into dataframe and filter out service level other than 'standard'
df = pd.read_csv('dataframe.csv', sep = ',', index_col = 0)
df = df[df['serviceLevel'] == 'standard']
df.head()

,reservationNumber,from,passengers,rider,serviceLevel,scheduledTime,start_lt,start_lg,end_lt,end_lg
0,RES-Q1HKZK,"5175 South Old Peachtree Road, Norcross, GA, U...",1,585eeca79b1441f8923662ed,standard,2017-06-08T20:09:00.000Z,33.969514,-84.207254,33.979448,-84.195755
1,RES-Q1H68F,"2979, Lake Colony, Lake Colony Drive Northwest...",1,572763e3c9c845d866b9badc,standard,2017-06-08T20:07:00.000Z,33.930708,-84.259075,33.946081,-84.241015
2,RES-Q1GV1Z,"Casa Blanca Restaurant, Peachtree Industrial B...",1,591971fd7fffbb38fbdbf3a6,standard,2017-06-08T20:05:00.000Z,33.929286,-84.267367,33.944177,-84.241429
3,RES-Q1GCJA,"LA Fitness, Jimmy Carter Boulevard, Norcross, ...",1,573f75b7e0588bc00d12790e,standard,2017-06-08T20:04:00.000Z,33.947417,-84.241758,33.960076,-84.249217
4,RES-Q1G54R,"Little Caesars Pizza, Holcomb Bridge Road, Nor...",2,58dd445eb47957072ebe26ae,standard,2017-06-08T20:01:00.000Z,33.952770,-84.241511,33.952311,-84.241521

In [ ]:
# convert scheduledTime from string to datetime variable type